/* styles.css */

* 
{
    margin: 0;
    padding: 0;
}

.gradient-icon {
  background: linear-gradient(45deg, #6e4e39, rgb(31, 78, 126));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-icon1 {
  background: linear-gradient(45deg, #ab714a, rgb(83, 31, 126));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
h1 
{
    font-size: 24px;
    color: #0ab69498;
}
/* CSS */
.my-button {
  background: linear-gradient(45deg, #14ed4a, #355661);
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 37px;
  margin-right: 30px;
  margin-left: 30px;
}

/* Add a black background color to the top navigation */
@supports (background-clip: text) or (-webkit-background-clip: text) {
.topnav {
  background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='grad' x1='0%' y1='0%' x2='100%' y2='100%'%3E%3Cstop offset='0%' style='stop-color:rgb(255, 170, 180);stop-opacity:1' /%3E%3Cstop offset='50%' style='stop-color:rgb(0, 70, 255);stop-opacity:1' /%3E%3Cstop offset='100%' style='stop-color:rgb(0, 0, 0);stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Cpath fill='url(%23grad)' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23C0C0C0'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23C0C0C0'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23FF8080'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #333;
    overflow: hidden;
    display: flex;
  justify-content: center;
  }
}
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #b94242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 95px;
  }
  .topnav a.logout {
    margin-left: auto;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #236ca4;
    color: white;
    margin-left: 3%;
  }

  .login-container {
    text-align: center;
    padding: 20px;
    width: fit-content; /* Set the container width to fit its content */
    position: absolute; /* Set the position to absolute */
    top: 55%; /* Vertically align the container to the middle */
    transform: translateY(-50%); /* Center it perfectly */
    left: 43%; /* Horizontally align the container to the middle */
    margin-left: -50px; /* Adjust this value to half of the container width */
}

.login-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #fff;
    display: inline-block;
    background: linear-gradient(45deg, #ed144e, #355661);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px; /* Center the heading horizontally and add margin below it */
}

.form-label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #bc1e43, #1c657d);
    background-clip: text; /* Apply gradient to the text only */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text transparent */
    line-height: 5.3;
   
}
.form-label6 {
  font-size: 49px;
  margin-bottom: 10px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #1ebc30, #d63f4c);
  background-clip: text; /* Apply gradient to the text only */
  -webkit-background-clip: text; /* For Safari support */
  color: transparent; /* Make the text transparent */
  width: fit-content; 
}

.form-label4 {
  font-weight: bold;
  background-image: linear-gradient(45deg, #bc1e43, #1c657d);
  background-clip: text; /* Apply gradient to the text only */
  -webkit-background-clip: text; /* For Safari support */
  color: transparent; /* Make the text transparent */
  margin-bottom: 50px;
 
}
.form-label1 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #bc1e43, #1c657d);
    background-clip: text; /* Apply gradient to the text only */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text transparent */
    line-height: 2.3;
}
.form-label11 {
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #3547c0, #2c5866);
  background-clip: text; /* Apply gradient to the text only */
  -webkit-background-clip: text; /* For Safari support */
  color: transparent; /* Make the text transparent */
  line-height: 2.3;
}
.form-label12 {
  font-size: 30px;
  margin-top: 50px;
  
  background-image: linear-gradient(45deg, #35c0b7, #2c5866);
  background-clip: text; /* Apply gradient to the text only */
  -webkit-background-clip: text; /* For Safari support */
  color: transparent; /* Make the text transparent */
  line-height: 2.3;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 150px 1fr;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add some top margin for spacing */
}
.input-group .form-label {
    margin-right: 10px;
}
.input-group .form-label1 {
    margin-right: 10px;
}
.student-details {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Set the height to 100vh to center vertically */
    margin-left: 990px;
  }
input {
    width: 200px;
    padding: 6px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
}

/* Home Page*/
p {
    font-size: 6vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .fancy {
      background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23FF8080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23C0C0C0'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23C0C0C0'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23FF8080'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      line-height: 2.3;
    }
  }
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .fancy1 {
      background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23FF8080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23C0C0C0'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23C0C0C0'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23FF8080'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

  .error-message {
    position: absolute;
    top: calc(100% + 5px); /* Position the error message just below the buttons */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(212, 45, 45);
    font-size: 16px;
    text-align: center; /* Center the text horizontally */
    width: 100%; 
}
/* styles.css */

* 
{
    margin: 0;
    padding: 0;
}
.student-icon {

  font-size: 148px; /* You can adjust the size as needed */

}
.student-icon1 {

  font-size: 148px; /* You can adjust the size as needed */
  margin-left: 520px;
}
.icon-container {
  margin-top: 160px; 
  margin-left: 330px; /* Adjust the margin as needed */
 
}


.gradient-icon {
  background: linear-gradient(45deg, #6e4e39, rgb(31, 78, 126));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-icon1 {
  background: linear-gradient(45deg, #ab714a, rgb(83, 31, 126));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 
{
    font-size: 24px;
    color: #0ab69498;
}
/* CSS */
.my-button {
  background: linear-gradient(45deg, #14ed4a, #355661);
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 37px;
  margin-right: 30px;
  margin-left: 30px;
}
/* Add a black background color to the top navigation */
@supports (background-clip: text) or (-webkit-background-clip: text) {
.topnav {
  background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='grad' x1='0%' y1='0%' x2='100%' y2='100%'%3E%3Cstop offset='0%' style='stop-color:rgb(255, 170, 180);stop-opacity:1' /%3E%3Cstop offset='50%' style='stop-color:rgb(0, 70, 255);stop-opacity:1' /%3E%3Cstop offset='100%' style='stop-color:rgb(0, 0, 0);stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Cpath fill='url(%23grad)' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23C0C0C0'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23C0C0C0'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23FF8080'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #333;
    overflow: hidden;
    display: flex;
  justify-content: center;
  }
}
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #b94242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 95px;
  }
  .topnav a.logout {
    margin-left: auto;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #236ca4;
    color: white;
  }

  .login-container {
    text-align: center;
    padding: 20px;
    width: fit-content; /* Set the container width to fit its content */
    position: absolute; /* Set the position to absolute */
    top: 55%; /* Vertically align the container to the middle */
    transform: translateY(-50%); /* Center it perfectly */
    left: 43%; /* Horizontally align the container to the middle */
    margin-left: -50px; /* Adjust this value to half of the container width */
}

.login-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #fff;
    display: inline-block;
    background: linear-gradient(45deg, #ed144e, #355661);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px; /* Center the heading horizontally and add margin below it */
}

.form-label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #bc1e43, #1c657d);
    background-clip: text; /* Apply gradient to the text only */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text transparent */
    line-height: 5.3;
   
}

.form-label4 {
  font-weight: bold;
  background-image: linear-gradient(45deg, #bc1e43, #1c657d);
  background-clip: text; /* Apply gradient to the text only */
  -webkit-background-clip: text; /* For Safari support */
  color: transparent; /* Make the text transparent */
  margin-bottom: 50px;
 
}
.form-label1 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #bc1e43, #1c657d);
    background-clip: text; /* Apply gradient to the text only */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text transparent */
    line-height: 2.3;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 150px 1fr;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add some top margin for spacing */
}
.input-group .form-label {
    margin-right: 10px;
}
.input-group .form-label1 {
    margin-right: 10px;
}
.student-details {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Set the height to 100vh to center vertically */
    margin-left: 990px;
  }
input {
    width: 200px;
    padding: 6px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
}

/* Home Page*/
p {
    font-size: 6vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .fancy {
      background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23FF8080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23C0C0C0'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23C0C0C0'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23FF8080'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      line-height: 2.3;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

  .error-message {
    position: absolute;
    top: calc(100% + 5px); /* Position the error message just below the buttons */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(212, 45, 45);
    font-size: 16px;
    text-align: center; /* Center the text horizontally */
    width: 100%; 
}

.background-image {
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 100vh;
}

/* Default styles for headings */
.heading {
  margin-left: 240px;
  display: inline;
}
.heading1 {
  margin-left: 320px;
  display: inline;
}

/* Media query for screens with a maximum width of 279px (typical for mobile devices) */
@media (max-width: 600px) {
  .heading {
    font-size: medium;
    margin-left: 0px; 
    display: inline;
    width: 100%;
  }
}
/* Media query for screens with a maximum width of 270px (typical for mobile devices) */
@media (max-width: 600px) {
  .heading1 {
    font-size: medium;
    margin-left: 25px; 
    display: inline;
    width: 100%;
  }
}
@media (max-width: 600px) {
.student-icon {
  font-size: 75px; /* You can adjust the size as needed */
  margin-right: 75px;
}
}

@media (max-width: 600px) {
.student-icon1 {
  font-size: 75px; /* You can adjust the size as needed */
  margin-left: 175px;
}
}

@media (max-width: 600px) {
  .icon-container {
    margin-top: 40px;
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
.form-label6 {
  font-size: 49px;
  margin-bottom: 10px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #1ebc30, #d63f4c);
  background-clip: text; /* Apply gradient to the text only */
  -webkit-background-clip: text; /* For Safari support */
  color: transparent; /* Make the text transparent */
  width: fit-content;
}
}

@media (max-width: 600px) {
.background-image {
  background-image: url("../images/backgroundmobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 100vh;
}
}
@media (max-width: 600px) {
 /* Add a color to the active/current link */
 .topnav a.active {
  background-color: #236ca4;
  color: white;
  margin-left: 3%;
}
}