<!DOCTYPE html>
<html>
 
<head>
    <title>
        About me
    </title>
    <link rel="stylesheet" type="text/css" href="../static/Css/styles.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Css/styles.css') }}">
</head>
 
<body class="background-image">
    <p class="form-label11 ">About Me</p> 
    <p class="form-label12 ">I am Sanketh studying 3rd Year Bca in Kristu jayanti college, i am passionate about coding, developing in general anything related to coding or programming.I had wonderfull experience in Future Ready Talent Internship, developed this Website using all the knowledge gained throught this, thanks to FRT Team and Sevuga Pandian sir for providing this internship info to me. Thank You</p> 
</body>
<footer>
    <div class="centered-container" >
    <label style="margin-top: 75px;" class="form-label111" >Author: Sanketh</label>
    <label class="form-label111" ><a href="https://mail.google.com/mail/?view=cm&to=smail.com">sankethp673@gmail.com</a></label>
    </div>
  </footer>
</html>