<!DOCTYPE html>
<html>
<head>
    <title>Student registration form</title>
    <link rel="stylesheet" type="text/css" href="../static/Css/styles.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap" rel="stylesheet"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
    <h2 class="form-label4" style="font-size: 104px;"> &nbsp;&nbsp &nbsp;&nbsp &nbsp;&nbsp Enter student Details</h2>
    <form method="post" action="/submit_form"  id="student-form">
        <div class="input-group">
            <label for="name" class="form-label">Student Name:</label>
            <input type="text" id="name" name="name" required><br>
        </div>
        <div class="input-group">
        <label for="roll_no" class="form-label">    Roll Number: &nbsp;&nbsp    </label>
        <input type="text" id="roll_no" name="roll_no" required><br>
        </div>
        <div class="input-group">
            <label for="email" class="form-label">Email Address:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="button-container">
            <button class="my-button" type="submit" id="submit-button">Submit</button>
        
    </form>
    <form method="post" action="{{ url_for('generate_qr_codes') }}">
        <button class="my-button" id="generate-button" onclick="generateQRCodes()">Generate Qr code</button>
    </form>
    <form method="post" action="{{ url_for('sendmail') }}">
        <button class="my-button" id="sendmail-button" onclick="sendmail()">Send Email to Students</button>
    </form>
    <form id="delete-form" method="post" action="{{ url_for('delete_all_rows') }}">
        <button class="my-button" id="delete-button">Delete All Rows</button>
    </form>
    </div> 


    <script>
        // Function to handle the button click event
        document.getElementById("delete-form").addEventListener("submit", function(event) {
        var result = confirm("Are you sure you want to delete all rows?");
        if (!result) {
            event.preventDefault(); // Prevent form submission when user clicks "Cancel"
        }
    });
    
    function handleSubmitButtonClick() {
            // Show a confirmation dialog
            const confirmed = confirm("Are you sure you want to submit the form?");

            // If the user confirms, submit the form
            if (confirmed) {
                document.getElementById("student-form").submit();
            } else {
                 // Do nothing or perform any other action you want to take if the user cancels
            }
        }

        // Add a click event listener to the "Submit" button
        document.getElementById("submit-button").addEventListener("click", handleSubmitButtonClick);
        
        function generateQRCodes() {
            fetch("/generate_qr_codes", { method: "POST" })
                .then(response => {
                    if (response.ok) {
                        // Display the success message as a JavaScript alert
                        alert("Generated QR Code Successfully!");
                    } else {
                        // Handle the case where there was an error
                        alert("Error generating QR codes.");
                    }
                })
                .catch(error => {
                    alert("Error generating QR codes.");
                });
        }
        function sendmail() {
            // Show a confirmation dialog
            const confirmed = confirm("Are you sure you want to send the mail?");

            // If the user confirms, submit the form
            if (confirmed) {
                document.getElementById("sendmail-button").submit();
            } else {
                event.preventDefault();
                 // Do nothing or perform any other action you want to take if the user cancels
            }
        }
    </script>
</body>
</html>
